/**
 * ARCHITECTURE CSS - BASIC EXAMPLE
 * Feuille de style principale
 *
 * Architecture : ITCSS (voir : https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/)
 * Convention d'écriture : BEM (voir: http://getbem.com/introduction/)
 * =============================================================================== */

/**
 * SETTINGS
 *
 * Avec des pré-processeurs comme "Sass" ou "postcss" il est possible
 * de profiter de variables, fonctions et mixins qui forment notre boite à outils.
 * ------------------------------------------------------------------------------- */

 :root {

    /* Colors */
    --background-color: #ffffff;
    --text-color: #111b4f;
  
    /* Box Shadow */
    --shadow-color: #dbe4ff;
    --box-shadow: 0 20px 40px var(--shadow-color);
  
    /* Fonts */
    --font-family: sans-serif;
    --font-size: 1rem;
    --font-weight--bold: bold;
  
    /* borders */
    --border-color: #ccc;
  
    /* Buttons */
    --button-color: #364fc7;
    --button-label: #fff;
  
    /* Misc */
    --radius: var(--font-size);
    --transition: all 300ms ease;
  
  }
  
  /**
   * BASE
   *
   * On retrouve ici les styles spécifiques à certains de nos éléments HTML.
   * Les styles titres, images, ou encore à l'élément HTML par exemple.
   * ------------------------------------------------------------------------------- */
  
  /* Box sizing */
  * { box-sizing: border-box; }
  
  /** Document */
  
  body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  /** Headings */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1em;
  }
  nav{
      
  }
  /** Links */
  
  a { color: inherit; }
  a:hover,
  a:focus {}
  
  /** Media */
  
  img {
    max-width: 100%;
    vertical-align: middle;
    line-height: 0;
  }
  
  figure {
    margin-left: 0;
    margin-right: 0;
  }
  
  /** Forms */
  
  input,
  textarea,
  keygen,
  select,
  button {
    font-size: var(--font-size);
    margin-bottom: var(--font-size);
  }
  
  input[type=text],
  input[type=email],
  input[type=number],
  input[type=password] {
    --border-color: #ccc;
    padding: var(--font-size);
    border: 1px solid var(--border-color);
    width: 100%;
  }
  
  /** Button */
  
  button, .button {
    display: inline-block;
    margin: 0;
    padding: calc(var(--font-size) / 2) var(--font-size);
    color: var(--button-label);
    border: 1px solid var(--button-color);
    background: var(--button-color);
    cursor: pointer;
  }
  
  /**
   * LAYOUT
   * ------------------------------------------------------------------------------- */
  main,
  footer {
    margin: auto;
    width: 90vw;
    max-width: 1200px;
  }
  footer {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: 0.8em;
  }
  
  /**
   * OBJECTS
   * ------------------------------------------------------------------------------- */
  
  /**
   * Responsive Grid
   * Afficher une grille d'éléments avec un placement automatique des éléments
   * (voir : https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Grid_Layout/Placement_automatique_sur_une_grille_CSS)
   *
   * Markup :
   *
   * <div class="grid">
   *   <div class="grid__item"> ... </div>
   *   <div class="grid__item"> ... </div>
   *   ...
   * </div>
   */
  .grid {
    display: grid;
    grid-gap: calc(var(--font-size) * 2);
    grid-template-rows: repeat(auto-fill, minmax(360px, 1fr));
  }
  .v1 {
    display: grid;
    grid-template-areas: "a b" ". c";
    gap: 20px;
  }
  .v2 {
    display: grid;
    grid-template-areas: "b a" "c .";
    gap: 20px;
  }
  .card__texte{
    grid-area: b;
  }
  .card__more{
    grid-area: c;
  }
  .card__thumbnail{
    grid-area: a;
  }
  
  /**
   * COMPOSANTS
   *
   * On retrouve ici les styles spécifiques à certains de nos éléments HTML.
   * Les styles titres, images, ou encore à l'élément HTML par exemple.
   * ------------------------------------------------------------------------------- */
  
  /**
   * Buttons
   *
   * Markup :
   *
   * <button class="button"> ... </button>
   * <button class="button button__primary"> ... </button>
   * <button class="button button__secondary"> ... </button>
   * <button class="button button__secondary"> ... </button>
   */
  
  .button {
    margin-bottom: var(--font-size);
    text-decoration: none;
    border-radius: 50px;
    transition: var(--transition);
  }
  
  .button:hover,
  .button:focus { border-radius: 0; }
  
  .button__primary {
    --button-color: #111;
    --button-label: #fff;
  }
  
  .button__secondary {
    --button-color: #ccc;
    --button-label: #111;
  }
  
  .button--small { font-size: 0.8em }
  .button--large { font-size: 1.2em }
  
  /**
   * Headings
   *
   * Markup :
   *
   * <header class="heading">
   *   <h1 class="heading__title"> ... </h1>
   *   <p class="heading__description"> ... </p>
   * </header>
   */
  
  .heading {
    padding: var(--font-size);
    margin-bottom: var(--font-size);
  }
  
  .heading__title {
    margin-bottom: 0;
    text-transform: uppercase;
  }
  
  .heading__title ~ .heading__description {
    margin-top: 0;
  }
  
  .heading__description {
    font-size: 1.2em
  }
  
  /**
   * Card
   *
   * Markup :
   *
   * <article class="card">
   *   <h2 class="card__title"> ... </h2>
   *   <p class="card__excerpt"> ... </p>
   *   <a class="card__more button" href=""> ... </a>
   *   <figure class="card__thumbnail">
   *     <img src=" ... " alt=" ... ">
   *   </figure>
   * </article>
   */
  /*
  .card {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    background: #fff;
    overflow: hidden;
  }
  
  .card > * { margin-top: 0; }
  
  .card > *:not(.card__thumbnail) {
    margin-left: var(--font-size);
    margin-right: var(--font-size);
  }*/
  
  /* Changer l'ordre des éléments par rapport au DOM 
  .card__thumbnail  { order: 1; }
  .card__title      { order: 2; }
  .card__excerpt    { order: 3; }
  
  .card__more {
    order: 4;
    align-self: flex-start;
  }
  */
  .card__excerpt{
    font-size: 1.7rem;
    font-family: 'Exo', sans-serif;
  }
  .card__title{
    font-family: 'Maven Pro', sans-serif;
  }
  /**
   * MEDIA QUERIES
   * ------------------------------------------------------------------------------- */
  
  /** Pour les résulutions suppérieurs à 640px */
  @media (min-width: 40rem) {
    :root { --font-size: 1.2rem; }
  }
  
  /** Pour les résulutions suppérieurs à 960px */
  @media (min-width: 60rem) {
    :root { --font-size: 1.3rem; }
  }
  
  /** Pour les résulutions suppérieurs à 1280px */
  @media (min-width: 80rem) {
    :root { --font-size: 1.4rem; }
  }
  
  /** Pour les résulutions suppérieurs à 1920px */
  @media (min-width: 120rem) {
    :root { --font-size: 1.6rem; }
  }