body {
	font-family: "Segoe UI", "sans-serif";
}

.logo {
	width: 12em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*
*
* Structure des grids de l'accueil
*
=================================================*/

.grid-container-accueil {
	display: grid;
	font-size: 3.5em;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
    "grid_chirurgie grid_mater grid_gyneco grid_actu"
    "grid_chirurgie grid_mater grid_gyneco grid_actu"
    "grid_chirurgie grid_mater grid_gyneco grid_actu";
}
/*
*
* Structure de la grid chirurgie
*
=================================================*/
.grid_chirurgie {
	position: relative;
	z-index: 2;
	transition: 0.5s;
    grid-area: grid_chirurgie;
    background: #ffffff;
    writing-mode: vertical-rl;
	text-orientation: upright;
	
}
.grid_chirurgie a {
	text-decoration: none;
	color: #94B7E6;
}
.grid_chirurgie:hover {
	z-index: 2;
	padding-left: 70%;
	background: #94B7E6;
}
.grid_chirurgie:hover a{
	color:#ffffff;
}
/*
*
* Structure de la grid mater
*
=================================================*/
.grid_mater { 
	position: relative;
	z-index: 1;
	transition: 0.5s;
	grid-area: grid_mater;
	background: #ffffff;	
	writing-mode: vertical-rl;
	text-orientation: upright;
}
.grid_mater a{ 
	text-decoration: none;
	color: #FFA498;
}
.grid_mater:hover {
	z-index: 2;
	padding-left: 70%;
	background: #FFA498;
}
.grid_mater:hover a{
	color: #ffffff;
}
/*
*
* Structure de la grid gyneco
*
=================================================*/
.grid_gyneco { 
	position: relative;
	z-index: 1;
	transition: 0.5s;
	grid-area: grid_gyneco;
	background: #ffffff;
	writing-mode: vertical-rl;
	text-orientation: upright;
}
.grid_gyneco a{ 
	text-decoration: none;
	color: #B199E1;
}
.grid_gyneco:hover { 
	z-index: 2;
	padding-left: 70%;
	background: #B199E1;
}
.grid_gyneco:hover a{ 
	color: #ffffff;
}
/*
*
* Structure de la grid actu
*
=================================================*/
.grid_actu { 
	position: relative;
	z-index: 1;
	transition: 0.5s;
	grid-area: grid_actu;
	background: #ffffff;
	writing-mode: vertical-rl;
	text-orientation: upright;
}
.grid_actu a{ 
	text-decoration: none;
	color: #E8B73A;
}
.grid_actu:hover { 
	z-index: 2;
	padding-right: 70%;
	color: #ffffff;
	background: #E8B73A;
}
.grid_actu:hover a{ 
	color: #ffffff;
}

