* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Segoe UI", "sans-serif";
  background-color: #fff;
  overflow-x: hidden;
}


/*
navbar
*/
@media (min-width: 60rem) {
  .bglogo {
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin-top: 8vw;
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    transform: rotate(90deg);
    width: 7%;
  }
  nav {
    position: fixed;
    top: 2vw;
    left: 50vw;
    width: 100vw;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
  }

  ul{
    display: flex;
  }

  ul li{
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  transition: all 300ms ease;
  list-style: none;
  display: inline-block;
  }

  ul li a:hover {
    padding-left: 40vw;
  }

  nav ul li a {
    display: block;
    padding: 20px 80px;
    text-decoration: none;
    font-size: 22px;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
    border-radius: 50px;
    width: 130%;
    text-align: center;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  nav ul li a:hover {
    color: white;
  }
  nav ul li.active a {
    color: white;
  }
  nav ul li:nth-child(1) a {
    background-color: #94B7E6;
    z-index: 4;
  }
  nav ul li:nth-child(2) a {
    background-color: #FFA498;
    z-index: 3;
  }
  nav ul li:nth-child(3) a {
    background-color: #B199E1;
    z-index: 2;
  }
  nav ul li:nth-child(4) a {
    background-color: #E8B73A;
    z-index: 1;
  }
  .bglogo{
    position:initial;
  }
}
/* 
corps de la page
*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 0.3fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". infograph infograph ."
    ". text_1 text_2 ."
    ". article_1 article_1 ."
    ". article_2 text_article2 .";
    margin-top: 14%;
}
.infograph {
  grid-area: infograph;
  display: flex;
  justify-content: center;
  height: 80%;
}
.infograph_mobile{
  display: none;
}
.imgchirurgie {
  width: 1000px;
  height: 600px;
}
.text_1 {
  grid-area: text_1;
  padding: 12%;
}
.text_2 {
  grid-area: text_2;
  padding: 12%;
}
.article_1 {
  grid-area: article_1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
h2 {
  margin-bottom: 5%;
  color: #E8B73A;
}

.text_3 {
  margin-top: 5%;
}
.soignant{
  display: none;
}
  /** Button */
  
.button {
    margin-top: 2%;
    margin-right: 86%;
    padding: 1%;
    color:#E8B73A;
    border: 2px solid;
    border-radius: 40px;
    cursor: pointer;
    width: 14%;
    text-align: center;
    text-decoration: none;
  }

.article_2 {
  grid-area: article_2;
  margin-top: 20%;

}
.text_article2 {
  grid-area: text_article2;
  margin-top: 20%;
}
.text_4 {
  margin-bottom: 5%;
}

.button2 {
  padding: 2%;
  color:#E8B73A;
  border: 2px solid;
  border-radius: 40px;
  cursor: pointer;
  width: 12%;
  text-align: center;
  text-decoration: none;
}

.button:hover{
  background-color: #E8B73A;
  color: white;
  border-color: white;
  transition-duration: 0.2s;
}
.button2:hover{
  background-color: #E8B73A;
  color: white;
  border-color: white;
  transition-duration: 0.2s;
}
/* 
footer
*/

.grid-container2 {
  display: grid;
  grid-template-columns: 3.9fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "espace confidentialite conditions faq";
    background-color: #94B7E6;
    padding-top: 2%;
    padding-bottom: 2%;
}
.espace { grid-area: espace; }
.confidentialite {
  grid-area: confidentialite;
  display: flex;
  justify-content: center;
}
.conditions {
  grid-area: conditions;
  display: flex;
  justify-content: center;
}
.faq {
  grid-area: faq;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 60rem) {
  .bglogo {
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin-top: 8vw;
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    transform: rotate(90deg);
    width: 10%;
  }  

  /*  BURGER
========================================== */
.burger {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 10%;
  right: 10%;
  border-radius: 4px;
  z-index: 0;
}
.burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}
.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #2a2a2a;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.burger span::before, .burger span::after {
  position: absolute;
  content: "";
}
.burger span::before {
  top: -9px;
}
.burger span::after {
  top: 9px;
}
.burger.clicked span {
  background-color: transparent;
}
.burger.clicked span::before {
  -webkit-transform: translateY(9px) rotate(45deg);
  -moz-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}
.burger.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -moz-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}
.burger.clicked span:before, .burger.clicked span:after {
  background-color: #ffffff;
}
.burger:hover {
  cursor: pointer;
}

/*  NAV
========================================== 
nav {
  background-color: #2a2a2a;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 515px;
  width: 100%;
  padding: 100px 40px 60px 40px;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
nav.show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
nav.show ul.main li {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
nav.show ul.main li:nth-child(1) {
  transition-delay: 0.15s;
}
nav.show ul.main li:nth-child(2) {
  transition-delay: 0.3s;
}
nav.show ul.main li:nth-child(3) {
  transition-delay: 0.45s;
}
nav.show ul.main li:nth-child(4) {
  transition-delay: 0.6s;
}
nav.show ul.main li:nth-child(5) {
  transition-delay: 0.75s;
}
nav.show ul.main li:nth-child(6) {
  transition-delay: 0.9s;
}
nav.show ul.main li:nth-child(7) {
  transition-delay: 1.05s;
}
nav.show ul.main li:nth-child(8) {
  transition-delay: 1.2s;
}
nav.show ul.main li:nth-child(9) {
  transition-delay: 1.35s;
}
nav.show .about, nav.show .social, nav.show ul.sub {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.85s;
}
@media (min-width: 667px) {
  nav {
    padding: 120px 90px 70px 90px;
  }
}
nav ul.main {
  list-style-type: none;
}
nav ul.main li {
  margin-bottom: 20px;
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul.main li:last-of-type {
  margin-bottom: 0px;
}
nav ul.main li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  letter-spacing: 5px;
  font-weight: 600;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul.main li a span {
  color: #5996f0;
}
nav ul.main li a:hover {
  color: #5996f0;
}
nav .about {
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav .about p {
  color: #ffffff;
  font-family: "Spectral", serif;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  line-height: 170%;
}
nav .social {
  margin-top: 40px;
  position: relative;
  padding-bottom: 30px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav .social:after {
  content: "";
  width: 230px;
  height: 2px;
  background-color: #5996f0;
  position: absolute;
  bottom: 0;
  left: 0;
}
nav .social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 25px;
}
nav .social a:last-of-type {
  margin-right: 0px;
}
nav .social a:hover svg path, nav .social a:hover svg circle {
  fill: #5996f0;
}
nav .social a svg {
  width: 100%;
  height: 100%;
}
nav .social a svg path, nav .social a svg circle {
  fill: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul.sub {
  list-style-type: none;
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav ul.sub li {
  margin-bottom: 10px;
}
nav ul.sub li:last-of-type {
  margin-bottom: 0px;
}
nav ul.sub li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul.sub li a:hover {
  color: #5996f0;
}

/*  OVERLAY
========================================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #5996f0;
  opacity: 0;
  visibility: hidden;
}
.overlay.show {
  opacity: 0.8;
  visibility: visible;
}

/* TEXTE
========================================== */
.nav-responsive{
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  list-style: none;
  justify-content: center;
}


.lien-responsive{
  font-size: 41pt;
  font-weight: bold;
  margin-top: 10vh;
  font-family: "lato";
  display: flex;
  justify-content: center;
  transition: all 300ms ease;
}

.lien-responsive:hover{
color: white;
cursor: pointer;
transition: all 300ms ease;
}

.grid-container {
  display: grid;

  gap: 0px 0px;
  grid-template-areas:
    ". infograph_mobile infograph_mobile ."
    ". text_1 text_1 ."
    ". text_2 text_2 ."
    ". soignant soignant ."
    ". article_1 article_1 ."
    ". article_2 article_2 ."
    ". text_article2 text_article2 .";
    margin-top: 14%;
}

.infograph{
  display: none;
  position: unset;
}
.infograph_mobile{
  grid-area: infograph_mobile;
  display: grid;
  grid-template-areas: 
  ". img_menton button_menton button_menton"
  ". img_levres button_levres button_levres"
  ". img_front button_font button_font"
  ". img_nez button_nez button_nez"  ;
  gap:  15%;
  padding-bottom: 50%;
}
.img_menton{
  grid-area: img_menton;
}

.button_menton{
  grid-area: button_menton;
  
}

.img_levres{
  grid-area: img_levres;
}

.button_levres{
  grid-area: button_levres;
  
}

.img_front{
  grid-area: img_front;
}

.button_front{
  grid-area: button_font;
  
}

.img_nez{
  grid-area: img_nez;
}

.button_nez{
  grid-area: button_nez;
  
}

.button_infog{

  padding: 9%;
  color: #94B7E6;
  border: 2px solid;
  border-radius: 40px;
  cursor: pointer;
  width: 95%;
  height: 60%;
  text-align: center;
  text-decoration: none;
  font-size: 15pt;
  margin-top: 15%;
}
.button_infog:hover{
  background-color: #94B7E6;
  color: white;
  border-color: white;
  transition-duration: 0.2s;
}

.soignant{
  display: grid;
  margin-right: 50%;
  grid-area: soignant;
}

.imgchirurgie {
display: none;
}

.text_1 {
  grid-area: text_1;
  padding: 0%;
  text-align: center;
}
.text_2 {
  grid-area: text_2;
  padding: 0%;
  text-align: center;
}
.article_1 {
  grid-area: article_1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0%;
}
h2 {
  margin-top: -15%;
  color: #E8B73A;
  text-align: center;
}

.illustration{
  padding-top: 5%;

  display: flex;
  justify-content: center;

}

.text_3 {
  margin-top: 15%;
  margin-bottom: 5%;
}

.article_2 {
  grid-area: article_2;
  margin-top: 20%;

}
.text_article2 {
  grid-area: text_article2;
  margin-top: 20%;
}

.photopatiente{
  display: flex;
  justify-content: center;
  margin: auto;
}

.text_4 {
  margin-bottom: 5%;
  text-align: center;
}
  /** Button */
  
.button {
    padding-top: 1%;
    color:#E8B73A;
    border: 2px solid;
    border-radius: 40px;
    cursor: pointer;
    width: 32%;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: auto;
  
  }
  .button2 {
    display: flex;
    justify-content: center;
    margin: auto;
    color: #E8B73A;
    border: 2px solid;
    border-radius: 40px;
    cursor: pointer;
    width: 31%;
    text-align: center;
    text-decoration: none;
 
  }
  
  .button:hover{
    background-color: #E8B73A;
    color: white;
    border-color: white;
    transition-duration: 0.2s;
  }
  .button2:hover{
    background-color: #E8B73A;
    color: white;
    border-color: white;
    transition-duration: 0.2s;
  }

/* 
footer
*/
footer{
  padding-top: 15vh;
}
.grid-container2 {
  display: grid;
  gap:  15%;
  grid-template-areas:
    "espace confidentialite conditions faq";
    background-color: #94B7E6;
    padding-top: 2%;
    padding-bottom: 2%;
}
.espace { 
  grid-area: espace; 
}
.confidentialite {
  grid-area: confidentialite;
  display: flex;
  justify-content: center;
}
.conditions {
  grid-area: conditions;
  display: flex;
  justify-content: center;
  text-align: center;
}
.faq {
  grid-area: faq;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fff;
}


}

