* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Segoe UI", "sans-serif";
  background-color: #fff;
  overflow-x: hidden;
}
.logo {
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
}
nav {
  position: fixed;
  top: 3%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

ul{
  display: flex;
}

ul li{
 display: flex;
 flex: 1 1 100%;
 align-items: center;
 transition: all 300ms ease;
 list-style: none;
 display: inline-block;
}

 ul li a:hover {
   padding-left: 40vw;
 }

nav ul li a {
  display: block;
  padding: 20px 80px;
  text-decoration: none;
  font-size: 22px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  border-radius: 50px;
  width: 130%;
  text-align: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
nav ul li a:hover {
  color: white;
}
nav ul li.active a {
  color: white;
}
nav ul li:nth-child(1) a {
  background-color: #94B7E6;
  z-index: 4;
}
nav ul li:nth-child(2) a {
  background-color: #FFA498;
  z-index: 3;
}
nav ul li:nth-child(3) a {
  background-color: #B199E1;
  z-index: 2;
}
nav ul li:nth-child(4) a {
  background-color: #E8B73A;
  z-index: 1;
}
